# Personal Project 1 #
I am going to use a dataset from keggle to analyze historical Data.
I'll try to find the variable which plays the most impact on Price. Here given dataset is US based, And it has some categorical values. We will handle them step by step.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import folium
import seaborn as sns

### Load Data set to DataFrame
Let's load the data set to a DataFrame using pandas pd.read_csv() function. We can load dataset from it's URL but here I have downloaded the dataset to my local storage.

In [2]:
df = pd.read_csv("bike_sales_100k.csv")

df.head()

,Sale_ID,Date,Customer_ID,Bike_Model,Price,Quantity,Store_Location,Salesperson_ID,Payment_Method,Customer_Age,Customer_Gender
0,1,11-07-2022,9390,Cruiser,318.32,1,Philadelphia,589,Apple Pay,70,Female
1,2,03-05-2024,3374,Hybrid Bike,3093.47,4,Chicago,390,Apple Pay,37,Male
2,3,01-09-2022,2689,Folding Bike,4247.99,3,San Antonio,338,PayPal,59,Female
3,4,28-09-2022,3797,Mountain Bike,1722.01,3,San Antonio,352,Apple Pay,19,Male
4,5,05-01-2021,1633,BMX,3941.44,3,Philadelphia,580,PayPal,67,Female

Let's see if there's any missing values so that we can handle them.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Sale_ID          100000 non-null  int64
 1   Date             100000 non-null  object
 2   Customer_ID      100000 non-null  int64
 3   Bike_Model       100000 non-null  object
 4   Price            100000 non-null  float64
 5   Quantity         100000 non-null  int64
 6   Store_Location   100000 non-null  object
 7   Salesperson_ID   100000 non-null  int64
 8   Payment_Method   100000 non-null  object
 9   Customer_Age     100000 non-null  int64
 10  Customer_Gender  100000 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 8.4+ MB